{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>editPatient</title>
    <link rel="stylesheet" href="../static/styleNew.css">
</head>
<body>
    <div class="container mt-4 container-fluid">
        <h1 id="#title">{{ titulo }}</h1>
        <div class="bordercontent">
            <form method="POST">
            {% csrf_token %}
            {% for field in form_usuario %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            {% for field in form_paciente %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="text-danger small">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-3">{{ accion }}</button>
        </form>
        </div>
        <button type="sumbit">
            <a href="{% url 'listarPacientes' %}"> Volver </a>
        </button>
    </div>
    {% endblock %}

</body>
</html>